
$theme: (
        main: #4ec3ff,
        containerBg: #f5f5f5
);

$sideMenu: (
        background: #17232c,
        menuItemBg: #37424F,
        subMenuItemBg: ''
);

/*$sideMenu: (
        background: #4ec3ff,
        menuItemBg: #5095FE,
        subMenuItemBg: ''
);*/

