
$theme: (
        main: #4ec3ff,
        containerBg: #f5f5f5,

        cyellow: #f8d347,
        terques: #6ccac9,
        light-blue: #57c8f2,
        cred: #ff6c60
);

$sideMenu: (
        background: #17232c,
        menuItemBg: #37424F,
        subMenuItemBg: ''
);

/*$sideMenu: (
        background: #4ec3ff,
        menuItemBg: #5095FE,
        subMenuItemBg: ''
);*/

