/** sidebar-right 插件 */
.sidebar-right {
  .mask {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;

    transition: all 0.5s;
  }

  .box {
    margin-bottom: 0;
    transform: translateX(100%);
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    width: auto;

    transition: all 0.5s;
  }

  &.actived {
    .mask {
      opacity: 1;
      visibility: visible;
    }
    .box {
      transform: translateX(0);
    }
  }
}
/** sidebar-right 插件 */

